@Path Encoding

> The literal part of the supplied value (those characters that are **not part** of a template parameter) is automatically percent encoded to conform to the path production of [RFC 3986 section 3.3](https://tools.ietf.org/html/rfc3986#section-3.3). Note that percent encoded values are allowed in the literal part of the value, an implementation will recognize such values and will not double encode the '%' character.

RFC 3986:
>      path          = path-abempty    ; begins with "/" or is empty
>                    / path-absolute   ; begins with "/" but not "//"
>                    / path-noscheme   ; begins with a non-colon segment
>                    / path-rootless   ; begins with a segment
>                    / path-empty      ; zero characters
>
>      path-abempty  = *( "/" segment )
>      path-absolute = "/" [ segment-nz *( "/" segment ) ]
>      path-noscheme = segment-nz-nc *( "/" segment )
>      path-rootless = segment-nz *( "/" segment )
>      path-empty    = 0<pchar>
>
>      segment       = *pchar
>      segment-nz    = 1*pchar
>      segment-nz-nc = 1*( unreserved / pct-encoded / sub-delims / "@" )
>                    ; non-zero-length segment without any colon ":"
>
>      pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
>
>      unreserved    = ALPHA / DIGIT / "-" / "." / "_" / "~"
>      sub-delims    = "!" / "$" / "&" / "'" / "(" / ")" / "*" / "+" / "," / ";" / "="

[HttpServletRequest#getPathInfo](https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServletRequest.html#getPathInfo--):
> **Returns:**
a String, **decoded by the web container**, specifying extra path information that comes after the servlet path but before the query string in the request URL; or null if the URL does not have any extra path information

FYI: `net.cactusthorn.routing.uri.UriComponentEncoder`

done.